@model HairdresserApp.Models.MenuCardModel
 
<div class="menu-card u-margin-bottom-2">
      <div class="menu-card-title u-margin-bottom-small">
        <p class="paragraph big title"> @Model.Title</p>
      </div>
      <div class="menu-card-content u-margin-bottom-small">
        <div class="menu-card-description">
          <p class="paragraph big">@Model.Description</p>
        </div>
      </div>
      <div class="menu-card-button">
          <button asp-action="@Model.AspAction" asp-controller="@Model.AspController" class="btn btn-card">@Model.ButtonText</button>
      </div>
    </div>