@model HairdresserApp.Models.CardModel

<div class="card">
  <div class="card-icon">
    <img src="@Model.ImageUrl" class="card-img" alt="card-icon" />
  </div>
  <div class="card-body">
    <div class="card-title">
      <h4 class="heading-fourth u-margin-bottom-small">@Model.Title</h4>
    </div>
    <div class="card-description">
      <p class="paragraph"> @Model.Description</p>
      <p class="paragraph"> @Model.Time</p>
    </div>
  </div>
  <div class="card-button u-margin-top-3 u-margin-left-2">
    <a asp-action="@Model.AspAction" asp-controller="@Model.AspController" asp-route-professionId="@Model.ProfessionId"
      class="button-card">@Model.ButtonText</a>
  </div>
</div>
